doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
		title Estudiossauro
		link(rel='stylesheet', href='css/style.css')
		link(rel='icon', type='image/x-icon', href='favicon.ico')
		//- script(type='text/javascript', src='js/jquery-3.1.0.min.js')
		//- script(type='text/javascript', src='js/menu.js')
		meta(name='theme-color', content='#1EAAAA')
	body
		nav
			a(href='index.html')
				img(src='img/logo.png')
			a(href='mailto:oi@estudiossauro.com.br') oi@estudiossauro.com.br
		header
			h1 Nós, do 
				em estudiossauro
				|, trabalhamos com design multidisciplinar para criar soluções adoráveis em nossos projetos.
		section.projetos-title
			h1 Projetos
		section.projetos-content
			.flex.group.group-row
				.flex.group-column
					.flex 1
					.flex 2
				.flex 3
